/*TODO: reorganize CSS*/

.verticalContainer{
	margin:0;
	padding:0;
	display:inline-flex;
	flex-direction:column;
	align-items:center;
}
.textContainer {
	text-align: center;
	font-size: larger;
	justify-content: space-around;
	padding: 4px;
}
.textContainer > p{
	margin:12px 0;
}

.page {
	margin-top:10px;
	width:100%;
	height:80vh;
	padding:0;
	display:flex;
	border-style:solid;
	border-width:thick;
	border-color:#FFFFFF;
	overflow:hidden;
	opacity:0;
}
@media (max-width:1300px), (max-aspect-ratio:10/8){
	.page{
		border-style:solid none;
		border-width:medium;
		border-radius:0;
		height:max-content;
		border-color:#000000;
	}
}

.buttonList{
	margin:0;
	padding:0;
	display:flex;
	flex-direction:column;
	justify-items:stretch;
	justify-content:stretch;
}
.buttonList > div{
	border-style:solid none;
	border-width:medium;
	border-color:#000000;
	text-align:center;
	flex-grow:1;
	display:flex;
	justify-content:center;
	align-items:center;
}
.buttonList > div:first-child{
	border-top-style:none;
}
.buttonList > div:last-child{
	border-bottom-style:none;
}
.buttonList > div:hover{
	border-color:#000000;
	-webkit-animation: select 1s 1;
	animation-name: "swipeBackground";
	animation-duration:1.5s;
	cursor:pointer;
}

.buttonContainer {
	background-color: #000000;
	border-radius: 12px;
	padding: 5px;
	display: inline-flex;
	justify-content: center;
}
.buttonContainer > div{
	border-style:solid;
	border-width:5px;
	border-color:#FFFFFF;
	width:100%;
	background-color:#FFFFFF;
	text-align:center;
	cursor:pointer;
	user-select:none;
}
.buttonContainer > div:hover {
	border-color: #C0C0C0;
}

.faded {
	box-shadow: #FFFFFF 35px 35px 60px inset, #FFFFFF -35px -35px 60px inset;
}

.backButton {
	display: none; /*flex*/
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
	cursor:pointer;
	border-style: solid;
	border-width: thin;
	border-radius: 8px;
	padding:2px;
	align-items:center;
}

.selectImageButton{
	width:7.5%;
	height:25%;
	position:absolute;
	top:37.5%;
	background-color:#303030;
	opacity:0.35;
	cursor:pointer;
}
.selectImageButton:hover {
	opacity: 0.55;
	background-color: #404040;
}
.selectImageButton__next{
	right: 0;
}
.selectImageButton__previous{
	left:0;
	transform: scaleX(-1);
}

.iconWrapper{
	cursor:pointer;
}
#mainContainer {
	margin-left:12.5%;
	width:75%;
	min-height:100vh;
}
@media (max-width:1300px), (max-aspect-ratio:10/8) {
	#mainContainer {
		min-width: 100%;
		margin: 0;
	}
}

#logo {
	height:548px;/*image height*/
	max-height:30vh;
}

#navbar {
	width:100%;
	background-color:#000000;
	border-radius:12px;
	padding:5px;
	display:inline-flex;
	justify-content:center;
	font-size:larger;
}
#navbar > div {
	margin: 1px 3px;
	width:50%;
}
@media (max-width:1300px), (max-aspect-ratio:10/8){
	#navbar{
		box-sizing:border-box;
		border-radius:0;
		padding:2px;
	}
	#navbar>div{
		margin: 1px 2px;
	}
}

#textoInicial {
	padding: 0;
	font-size: 1.7em;
	background-image: url('imagens/vista.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position-y: center;
}
@media (max-width:1300px){
	#textoInicial{
		font-size:3vw;
	}
}

#quartos{
	display:flex;
	font-size:larger;
	overflow:hidden;
	width:100%;
}
#quartos > div{
	width:50%;
	height:100%;
	border-style:none solid;
	border-width:thin;
	display:flex;
	flex-direction:column;
	align-items:center;
	overflow:hidden;
}
#quartos > div:first-child{
	border-left-width:0;
}
#quartos > div:last-child{
	border-right-width:0;
}
#quartos > div > div:first-child{
	flex-grow:1;
	display:flex;
	flex-direction:column;
	align-items:center;
}
#quartos > div > div:first-child > h2 {
	text-align:center;
	margin-left:10px;
	margin-right:10px;
}
#quartos > div > div:first-child > ul{
	margin:0;
	columns:2;
}
#quartos > div > div:first-child > ul > li{
	width:max-content;
	user-select:none;
}
#quartos > div > div:first-child > ul > li:hover{
	cursor:pointer;
	text-decoration-line:underline;
}
#quartos > div > div:last-child{
	position:relative;
}
#quartos > div > div > img {
		width: 100%;
		z-index:-1;
		cursor: pointer;
	}
.quartosImageButton{
	display:none;
}
@media (max-width:1300px) {
	#quartos > div > div:first-child > ul {
		font-size: 1.8vw;
	}
}
@media (max-width:810px){
	#quartosSlideButtonRight {
		display: flex;
	}
	#quartos{
		overflow:hidden;
	}
	#quartos > div{
		width:100vw;
		flex-shrink:0;
	}
	#quartos > div > div:first-child > ul{
		padding-left:2px;
		font-size:3.5vw;
	}
	#quartos > div:first-child > div:first-child > h2{
		align-self:flex-start;
		margin-left:0;
		font-size:5vw;
	}
	#quartos > div:last-child > div:first-child > h2{
		align-self:flex-end;
		margin-right:0;
	}
	#quartos > div:last-child > div:first-child > h2:hover{
		text-decoration-line:underline;
		cursor:pointer;
	}
	#quartos > div > div > img{
		cursor:default;
	}
	.quartosImageButton{
		display:initial;
	}
}

#sala > img {
	height: 100%;
	border-left: solid thin;
	flex-shrink:0;
}
@media (max-width:1300px){
	#sala > img {
		height:auto;
		width:75%;
	}
}
@media (max-width:810px) {
	#sala {
		flex-direction:column;
	}
	#sala > img {
		width: 100vw;
		border-left:none;
	}
}

#comida > div {
	border-right: solid thin;
}
#comidaButtonList {
	width: max-content;
	min-width: 15%;
	flex-grow: 1;
	border: solid medium !important;
	border-radius: 12px 0 0 12px;
	overflow: hidden;
}
#comidaButtonList > div{
	border-top:none;
}
#comidaButtonListMenu{
	justify-content:space-between;
	display:none;
	border:none;
	border-top: none !important;
}
#comida > div:last-child{
	min-width:15%;
	border-right: none;
	flex-grow:5;
}
.comidaImageButton {
	display: none;
}
#comidaImageContainer {
	position: relative;
	display: flex;
	justify-content: center;
	height: 80vh;
	width: 100vh; /*Width is 80vh(height)*1,25(image aspect ratio).*/
	max-width: 60vw;
	flex-shrink: 0;
}
#comidaImage{
	z-index:-1;
}
.comidaCategoryArrow{
	display:none;
	cursor:pointer;
}
@media (max-aspect-ratio:2/1){
	#comida {
		height: max-content;
		flex-wrap: wrap;
	}
	#comidaButtonList{
		border-style: solid;
	}
	#comidaButtonList > div:first-child{
		border-top:solid;
	}
	#comidaButtonList > div:last-child {
		border-bottom: none;
	}
	#comidaImageContainer {
		border-style:none !important;
	}
	#comida > div:last-child{
		flex-basis:100%;
	}
	
}
@media (max-aspect-ratio:10/8){
	#comida{
		flex-direction:column;
	}
	#comida > div:first-child{
		width:100vw;
		flex-direction:row;
		overflow:hidden;
		border-top:none;
	}
	#comidaButtonList{
		border-radius:0;
		border-style: none none solid none !important;
	}
	#comidaButtonList > div{
		width:100vw;
		flex-shrink:0;
		border:none;
		padding:2px;
		display:flex;
		justify-content:space-evenly;
		cursor:default;
	}
	#comidaButtonListMenu{
		display:flex;
	}
	#comidaButtonListMenu > div{
		display:flex;
		align-items:center;
	}
	.comidaCategoryArrow{
		display:initial;
	}
	#comidaButtonList > div:hover {
		animation-name: none;
	}
	#comida > div:last-child{
		display:block;
	}
	#comida > div{
		border-right:none;
		border-top:solid;
		width:100%;
		height:auto;
	}
	#comidaImageContainer {
		width: 100% !important;
		height: 80vw !important; /*Width is 100vw(width)/1,25(image aspect ratio).*/
		max-width: unset;
	}
}
@media (max-width:1300px) {
	#comidaButtonList {
		border-radius: 0;
		border-style: none solid none none !important;
	}
	@media (max-aspect-ratio:2/1){
		#comidaButtonList{
			border-bottom-style:solid !important;
		}
		#comidaImageContainer{
			border-bottom-style: solid !important;
		}
	}
	@media (max-aspect-ratio:10/8) {
		#comidaButtonList {
			border-top: none !important;
		}

		#comidaImageContainer {
			border-bottom: none !important;
		}
	}
}

#contato {
	width: 100%;
	font-size: xx-large;
}
@media (max-width:810px){
	#contato{
		font-size:4vw;
	}
}

#currentPageIndicator{
	width:min-content;
	height:14em;
	position:fixed;
	left:20px;
	bottom:50vh;
	display:none; /*flex*/
	align-items:center;
}
#currentPageIndicatorBody {
	width:min-content;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	overflow:hidden;
}
#currentPageIndicatorBody > div{
	border-radius:10px;	
}
#currentPageIndicatorBody > div > div:hover{
	border-color:#FFFFFF;
}
#currentPageIndicatorBody > div:first-child > div{
	border-color:#C0C0C0;
}
#currentPageIndicatorShow {
	display: none; /*flex*/
	height: 30%;
	width:1em;
	flex-shrink:0;
	box-shadow: #303030 2px 2px 5px;
	background-color:#FFFFFF;
	opacity:0.5;
	cursor:pointer;
}
@media (max-width:1300px), (max-aspect-ratio:10/8) {
	#currentPageIndicator {
		left: -1px;
		width: 1em;
	}

	#currentPageIndicatorBody {
		border: solid 1px;
		border-left: none;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		background-color: #FFFFFF;
		flex: 0;
		transition: flex 1s;
	}

		#currentPageIndicatorBody > div {
			margin: 0 4px;
		}

	#currentPageIndicatorShow {
		display: flex;
	}
}

#scrollToTopButton {
	width:11vw;
	min-height:2em;
	max-height:min-content;
	position:sticky;
	bottom:20px;
	right:10px;
	margin-top:-3em;
	margin-left:88%;
	display:none; /*flex*/
}

footer {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 12.5%;
	min-height: 20vh;
	background-color: #E0E0E0;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	overflow: hidden;
}
footer > div:first-child{
	text-align:right;
}

@media (max-width:810px) {
	footer {
		flex-direction: column;
		align-items: center;
		padding: 10px 0;
	}
	footer > div:first-child{
		text-align:center;
	}
}

body{
	font-family:'Bookman Old Style';
	margin:0;
}

h2{
	margin:0.4em 0;
}

h3{
	font-weight:500;
	font-size:1.4em;
	margin:0.5em 0;
}

h4{
	font-weight:800;
	font-size:1.2em;
	margin:0 0 0.5em 0;
}