.verticalContainer{
	margin:0;
	padding:0;
	display:inline-flex;
	flex-direction:column;
	align-items:center;
}
.textContainer {
	text-align: center;
	font-size: larger;
	justify-content: space-around;
	padding: 4px;
}

.page {
	margin-top:10px;
	width:100%;
	height:80vh;
	padding:0;
	display:flex;
	border-style:solid;
	border-width:thick;
	border-color:#000000;
	border-radius:12px;
	overflow:hidden;
}

.buttonList{
	margin:0;
	padding:0;
	display:flex;
	flex-direction:column;
	justify-items:stretch;
	justify-content:stretch;
}
.buttonList > div{
	border-style:solid none;
	border-width:thick;
	border-color:#FFFFFF;
	text-align:center;
	flex-grow:1;
	display:flex;
	justify-content:center;
	align-items:center;
}
.buttonList > div:first-child{
	border-top-style:none;
}
.buttonList > div:last-child{
	border-bottom-style:none;
}
.buttonList > div:hover{
	border-color:#000000;
	-webkit-animation: select 1s 1;
	animation-name: "swipeBackground";
	animation-duration:1.5s;
	cursor:pointer;
}

.buttonContainer {
	background-color: #000000;
	border-radius: 12px;
	padding: 5px;
	display: inline-flex;
	justify-content: center;
}
.buttonContainer > div{
	border-style:solid;
	border-width:5px;
	border-color:#FFFFFF;
	background-color:#FFFFFF;
	text-align:center;
	cursor:pointer;
	user-select:none;
}
.buttonContainer > div:hover {
	border-color: #C0C0C0;
}

.backButton {
	display: none; /*flex*/
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
	cursor:pointer;
	border-style: solid;
	border-width: thin;
	border-radius: 8px;
	padding:2px;
	align-items:center;
}
.backButton > img{
	display:inline;
	height:0.78em;
	bottom:0;
}

.selectImageButton{
	width:7.5%;
	height:25%;
	position:absolute;
	top:37.5%;
	z-index:1;
	background-color:#303030;
	opacity:0.35;
	cursor:pointer;
}
.selectImageButton:hover {
	opacity: 0.55;
	background-color: #404040;
}
.selectImageButton__next{
	right: 0;
}
.selectImageButton__previous{
	left:0;
	transform: scaleX(-1);
}

.comidaImageButton {
	display: none;
}

#mainContainer {
	margin-left:12.5%;
	width: 75%;
	min-height:100vh;
}

#logo {
	max-height:30vh;
}

#navbar {
	width:100%;
	background-color:#000000;
	border-radius:12px;
	padding:5px;
	display:inline-flex;
	justify-content:center;
	font-size:larger;
}
#navbar > div {
	margin-left:3px;
	margin-right:3px;
	margin-top:1px;
	margin-bottom:1px;
	width:50%;
}

#quartos{
	display:flex;
	font-size:larger;
	overflow:hidden;
	width:100%;
}
#quartos > div{
	width:50%;
	height:100%;
	border-left:solid;
	border-right:solid;
	display:flex;
	flex-direction:column;
	align-items:center;
	overflow:hidden;
}
#quartos > div:first-child{
	border-left-width:0;
}
#quartos > div:last-child{
	border-right-width:0;
}
#quartos > div > div{
	flex-grow:1;
}
#quartos > div > div > div:first-child{
	text-align:center;
	margin-left:10px;
	margin-right:10px;
}
#quartos > div > img{
	width:100%;
	cursor:pointer;
}
#quartos > div > * > * > ul{
	columns:2;
}
#quartos > div > * > * > ul > li{
	user-select:none;
}
#quartos > div > * > * > ul > li:hover{
	cursor:pointer;
	text-decoration-line:underline;
}
#quartos > div > * > * > h2{
	padding:0;
	margin:0;
}

#comida > div {
	border-right: solid;
}
#comida > div:first-child{
	min-width:15%;
	flex-grow:1;
}
#comida > div:last-child{
	min-width:15%;
	border-right: none;
	flex-grow:5;
}

#currentPageIndicator{
	width:10vw;
	min-height:14em;
	max-height:60vh;
	position:fixed;
	left:20px;
	bottom:50vh;
	display:none; /*flex*/
	flex-direction:column;
	justify-content:space-evenly;
	align-items:flex-start;
}
#currentPageIndicator > div{
	border-radius:10px;	
}
#currentPageIndicator > div > div:hover{
	border-color:#FFFFFF;
}
#currentPageIndicator > div:first-child > div{
	border-color:#C0C0C0;
}

#scrollToTopButton {
	width:11vw;
	height:2em;
	position:sticky;
	bottom:20px;
	right:10px;
	margin-top:-3em;
	margin-left:88%;
	display:none; /*flex*/
}

body{
	margin:0;
}

footer {
	width:100%;
	padding:0;
	min-height:20vh;
	background-color:#EEEEEE;
	margin-top:20px;
}